$color-h1-light:#fff;

$color-text-light-brown:#cdcdcd;
$color-text-dark:#4c4c4c;

$color-h4-dark: #545454;
$color-h4-brown: #f1cdb3;

$color-h2-logo:#f1cdb3;
$color-h2-logo-dark:#545454;
$color-logo-text: #fff;
$color-logo-text-dark:#292929;

$color-h2-title-dark:#545454;
$color-h2-title-light:#fff;
$color-nav-links:#fafafa;
$color-nav-links-dark:#545454;
$color-text-oppacity:#b2b2b2;

$color-bg-underline:#f1cdb3;

$color-bg-contacts:#f1cdb3;

$color-bg-ourFriends: #f6f6f6;
$color-bg-help: #fff;

$color-bg: #fff;

$color-bg-inAddition: #f6f6f6;
$color-bg-routingCount: #f1cdb3;

$color-bg-btn:#f1cdb3;
$color-bg-btn-hover:#fddcc4;
$color-text-btn:#292929;
$color-bg-card-about: #fafafa;
$color-bg-about: #f6f6f6;

$color-circle-arrow:#f1cdb3;
$color-bg-circle-arrow:#fddcc4;

$color-pagination-circle-decibel:#cdcdcd;
$color-pagination-elem-decibel:#cdcdcd;

$color-pagination-elem: #292929;
$color-pagination-circle:#f1cdb3;

$color-bg-burger-light: #f1cdb3;
$color-bg-burger-dark: #000;