.footer {
    background-image: url(./../img/start-screen.png);
    background-size: cover;
    background-repeat: repeat;

    .wrap {
        .footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            margin: 0 40px;
            padding-top: 27px;

            .footer-contacts {
                // width: 24%;
                width: 280px;
                // margin-top: 28px;


                .footer-contacts__h2 {
                    margin-bottom: 43px;
                }

                .box-contacts {
                    .contact-mail {
                        display: flex;
                        margin-bottom: 43px;

                        .footer-mail {
                            margin-left: 21px;
                        }
                    }

                    .contact-phone {
                        display: flex;

                        .footer-phone {
                            margin-left: 21px;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .footer-location {
                // width: 26%;
                width: 302px;

                .footer-location__h2 {
                    margin-bottom: 34px;
                }

                .box-location {
                    .loaction-first {
                        display: flex;
                        margin-bottom: 32px;

                        .marker {
                            margin-top: 5px;
                        }

                        .location-usa {}
                    }

                    .location-second {
                        display: flex;

                        .location-london {
                            margin-left: 20px;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .footer-img {
                margin-top: 13px;
            }
        }
    }
}

@media screen and (max-width:790px) {
    .footer {


        .wrap {
            .footer-container {
                margin: 0 63px;
                padding-top: 0px;

                .footer-img {
                    margin-top: 63px;
                    margin-left: 26.5%;
                }
            }
        }
    }
}

@media screen and (max-width:760px) {
    .footer {
        .wrap {
            .footer-container {
                margin: 0 10px;

                .footer-contacts {
                    width: 85%;
                    margin-left: 23px;
                    margin-bottom: 20px;

                    .footer-contacts__h2 {
                        font-size: calc(25px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
                        text-align: center;
                        line-height: 33px;
                        margin-top: 30px;
                    }

                    .box-contacts {

                        .contact-mail {
                            margin-bottom: 41px;
                        }

                        .contact-phone {
                            margin-left: 5px;
                        }
                    }
                }

                .footer-location {
                    margin-bottom: 37px;

                    .footer-location__h2 {
                        font-size: calc(25px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
                        text-align: center;
                        line-height: 33px;
                        width: 85%;
                        margin-left: 23px;
                    }

                    .box-location {
                        .loaction-first {
                            margin-bottom: 41px;

                            .location-usa {
                                line-height: 24px;
                                letter-spacing: 0.08em;
                            }
                        }
                    }
                }

                .footer-img {
                    margin-left: 7%;
                    max-width: 86%;
                    margin-top: 5px;
                }
            }
        }
    }
}