.header {
    .not-only {
        padding: 0 40px;
        margin-top: 75px;

        .not-only__container {
            display: flex;
            justify-content: space-between;
            // align-items: center;

            .not-only__content {
                margin-top: 163px;
                width: 460px;

                .not-only__h1 {
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 57px;
                    color: $color-h1-light;
                    width: 88%;
                }

                .not-only__text {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: $color-text-light-brown;
                    margin: 43px 0 55px;
                }
            }
        }
    }
}