.header {
    .not-only {
        padding: 0 40px;
        margin-top: 75px;

        .not-only__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // align-items: center;

            .not-only__content {
                margin-top: 163px;
                width: 460px;

                .not-only__h1 {
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 57px;
                    color: $color-h1-light;
                    width: 88%;
                }

                .not-only__text {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: $color-text-light-brown;
                    margin: 43px 0 55px;
                }
            }
        }
    }
}

@media screen and (max-width:790px) {
    .header {
        .not-only {
            margin-top: 45px;
            padding: 0 30px;

            .not-only__container {
                justify-content: center !important;

                .not-only__content {
                    margin-top: 0px !important;
                    margin-bottom: 115px;

                    // .not-only__h1 {
                    //     font-size: calc(25px + 32.3 * (100vw - 320px) / 1280);
                    //     line-height: 32px;
                    //     text-align: center;
                    //     letter-spacing: 0.07em;
                    //     margin-left: 17px;
                    // }

                    .not-only__btn {
                        margin-left: 27%;
                    }
                }

                .not-only__img {
                    width: 81%;
                    margin-left: 18%;
                }
            }
        }

    }
}

@media screen and (max-width:760px) {
    .header {
        .not-only {
            padding: 0 10px;

            .not-only__container {
                .not-only__content {
                    margin-bottom: 125px;

                    .not-only__h1 {
                        font-size: calc(25px + 32.3 * (100vw - 320px) / 1280);
                        line-height: 32px;
                        text-align: center;
                        letter-spacing: 0.07em;
                        margin-left: 17px;
                    }

                    .not-only__text {
                        text-align: center;
                    }

                    .not-only__btn {
                        margin-left: 15%;
                    }
                }

                .not-only__img {
                    width: 86%;
                    margin-left: 12%;
                }
            }
        }
    }
}