.our-friends {
    background: $color-bg-about;
    text-align: center;

    .wrap {
        .our-friends__h2 {
            padding: 80px 0 30px;
        }

        .our-friends__h2.pets {
            padding: 60px 0 30px;
        }

        .our-friends__container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 75px;
            gap: 53px;

            .wrap-slider {
                width: 1200px;
                overflow: hidden;

                .our-friend__cards {
                    position: relative;
                    left: -1042px;
                    display: flex;
                    flex-wrap: nowrap;
                    // justify-content: center;
                    align-items: center;
                    gap: 53px;

                    .items {
                        display: flex;
                        gap: 90px;

                        .our-friends__card-content {
                            background: $color-bg-card-about;
                            width: 270px;

                            img {
                                max-width: none;
                            }

                            &:hover {
                                transition: 0.7s;
                                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

                                .pet-image {
                                    transform: scale(0.9);
                                    transition: 0.7s;
                                }

                                .our-friend_card-btn {
                                    border: none;
                                    background-color: $color-bg-btn;
                                }
                            }

                            .our-friends__card-h4 {
                                margin-bottom: 30px;
                            }

                            .our-friend_card-btn {
                                width: 190px;
                                font-size: 19px;
                                background-color: $color-bg-card-about;
                                border: 2px solid $color-bg-btn;
                                border-radius: 100px;
                                margin-bottom: 30px;

                                &:hover {
                                    border: none;
                                    background-color: $color-bg-btn;
                                }
                            }
                        }
                    }

                }
            }


            .arrow-left {
                transform: rotate(180deg);
                margin-right: 38px;
            }

            .arrow-right {
                margin-left: 38px;
            }
        }

        // .our-friends__btn {
        //     margin: 0 auto;
        //     width: 262px;

        .our-friends-link {
            margin: 0 auto;
            width: 262px;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.06em;
            color: $color-text-btn;
            padding: 15px 51px;
        }

        // }

        .stretch {
            padding-top: 115px;
        }
    }

}

@keyframes move-right {
    from {
        left: -1042px;
    }

    to {
        left: -2084px;
    }
}

@keyframes move-left {
    from {
        left: -1042px;
    }

    to {
        left: 0px;
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 3s;
}

.transition-right {
    animation-name: move-right;
    animation-duration: 3s;
}

@media screen and (max-width:790px) {
    @keyframes move-right {
        from {
            left: -926px;
        }

        to {
            left: -1552px;
        }
    }

    @keyframes move-left {
        from {
            left: -922px;
        }

        to {
            left: -295px;
        }
    }

    .transition-left {
        animation-name: move-left;
        animation-duration: 3s;
    }

    .transition-right {
        animation-name: move-right;
        animation-duration: 3s;
    }


    .our-friends {
        .wrap {
            .our-friends__container {
                flex-wrap: nowrap;
                gap: 12px;

                .wrap-slider {
                    width: 580px;

                    .our-friend__cards {
                        left: -925px;

                        .items {
                            gap: 40px;
                            flex-wrap: nowrap;
                            gap: 32px;
                            // overflow: hidden;

                            .our-friends__card-content {
                                background: $color-bg-card-about;

                                .pet-image {
                                    max-width: none;
                                }
                            }
                        }
                    }
                }

                .arrow-left {
                    transform: rotate(180deg);
                    margin-right: 30px;

                }

                .arrow-right {
                    // margin-right: 10px;
                    margin-left: 28px;
                }
            }
        }

    }
}

@media screen and (max-width:760px) {
    .our-friends {
        .wrap {
            .our-friends__h2 {
                font-size: calc(25px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
                text-align: center;
                line-height: 33px;
                padding: 41px 0 20px;
            }

            .our-friends__container {
                flex-wrap: wrap;
                margin-bottom: 57px;

                .our-friend__cards {
                    order: 1;
                    margin-left: 23px;

                    // .our-friends__card-content {
                    //     .pet-image {}
                    // }
                }

                .arrow {
                    order: 2;
                }

                .arrow-left {
                    margin: 10px 66px 0 0;
                }

                .arrow-right {
                    margin: 5px 0 0 65px;
                }
            }

            .stretch {
                padding-top: 57px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    @keyframes move-right {
        from {
            left: -310px;
        }

        to {
            left: -600px;
        }
    }

    @keyframes move-left {
        from {
            left: -600px;
        }

        to {
            left: -310px;
        }
    }
}