.our-friends.pets {
    position: relative;

    .wrap {
        .our-friends__h2.pets {
            margin-top: 17px;
        }

        .our-friends__container.pets {
            margin-bottom: 63px;
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: space-between;
            // align-items: center;

            .our-friend__cards {
                gap: 33px 40px;
                padding: 0 40px;

            }

            .our-friend__cards.pets {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .our-friends__card-content {
                    // width: none;

                    img {
                        width: auto;
                        max-width: none;
                    }

                    &:hover {
                        transition: 0.7s;
                        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

                        .pet-image {
                            transform: scale(0.9);
                            transition: 0.7s;
                        }

                        .our-friend_card-btn {
                            border: none;
                            background-color: $color-bg-btn;
                        }
                    }

                    .our-friends__card-h4 {
                        margin-bottom: 30px;
                    }

                    .our-friend_card-btn {
                        width: 190px;
                        font-size: 19px;
                        background-color: $color-bg-card-about;
                        border: 2px solid $color-bg-btn;
                        border-radius: 100px;
                        margin-bottom: 30px;

                        &:hover {
                            border: none;
                            background-color: $color-bg-btn;
                        }
                    }
                }

            }
        }

        .pets-pagination {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0 20px;
            padding-bottom: 101px;

            .disabled {
                border: 2px solid $color-pagination-circle-decibel !important;


                // .disabled-cursor {
                //     cursor: default;
                // }

                &:hover {
                    background: none !important;
                    transition: none !important;
                }

                a {
                    color: $color-pagination-elem-decibel !important;
                }
            }

            .pagination-btn {
                text-align: center;
                border: 2px solid $color-pagination-circle;
                border-radius: 100px;
                padding: 12px 0px;
                width: 52px;
                height: 52px;

                &:hover {
                    background: $color-pagination-circle;
                    transition: .5s linear;
                }


                a {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.06em;
                    text-align: center;
                    color: $color-pagination-elem;
                }

            }
        }
    }
}

@media screen and (max-width:790px) {
    .our-friends.pets {
        .wrap {
            .our-friends__h2.pets {
                margin-top: 17px;
                padding: 60px 0 5px;
            }

            .our-friends__container.pets {
                margin-bottom: 36px;

                // height: 1365px;
                // overflow: hidden;
                .pet-cards {
                    height: 1365px;
                    overflow: hidden;
                }

                .our-friend__cards.pets {
                    flex-wrap: wrap;
                    justify-content: center;


                }
            }

            .pets-pagination {
                padding-bottom: 78px;
            }
        }
    }
}

@media screen and (max-width:760px) {
    .our-friends.pets {
        .wrap {
            .our-friends__h2.pets {
                padding: 20px 0 20px;
            }

            .our-friends__container.pets {
                margin-bottom: 42px;

                .our-friend__cards.pets {
                    margin-left: 0px;

                }
            }

            .pets-pagination {
                padding-bottom: 42px;
                gap: 0 10px;
            }
        }
    }
}

// @media screen and (max-width:780px) {
//     .coverBackground.pop-up__cover {
//         top: 2439px;
//     }
// }

// @media screen and (max-width:500px) {
//     .coverBackground.pop-up__cover {
//         top: 1940px;
//     }
// }