.btn {
    cursor: pointer;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    border: none;
    background-color: $color-bg-btn;

    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-text-btn;
    transition: .4s all;

    &:hover {
        background: $color-bg-btn-hover;
    }
}

.btn-friends {
    cursor: pointer;
    border-radius: 100px;
    // padding: 15px 45px;
    width: 207px;
    height: 52px;
    border: none;
    background-color: $color-bg-btn;

    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-text-btn;
    transition: .4s all;

    &:hover {
        background: $color-bg-btn-hover;
    }
}